body, input {
    font-family: Segoe UI, Arial, Times;
    font-size: 12pt;
}

a {
    color: black;
}

select {
    font-family: Segoe UI;
    font-size: 12pt;
    width: 300px;
}

form[type=text], input[type=password] {
    width: 300px;
}

input[type=submit], input[type=reset], input[type=button] {
    width: 100px;
    font-weight: bold;
    padding: 2px 10px;
    margin: 5px;
    float: right;
}

fieldset#fieldset_login {
    margin: auto;
    width: 280px;
    padding: 50px;
}

.label {
    float: left;
    text-align: right;
    line-height: 1.9cm;
    padding-right: 2px;
}

#fieldset_login .campo input {
    float: right;
}

.campo a {
    padding-right: 60px;
    float: right;
    padding-top: 10px;
    color: black;
}

.main {
    /*min-height: 500px;*/
    min-height: 700px;
    clear: both;
}

.rodape {
    padding: 5px;
    border-top: 1px dotted gray;
}

.cabecalho {
    border-bott: 1px dotted gray;
    min-height: 60px;
}

.cabecalho a {
    text-decoration: none;
}

.cabecalho a.selected {
    font-weight: bold;
    font-color: #ff2800;
}

.cabecalho a:hover {
    text-decoration: underline;
}

.cabecalho .logo {
    float: left;
}

.cabecalho .logo img {
    width: 25%;
    padding: 10px;
}

.cabecalho ul, .cabecalho ol {
    float: right;
    list-style: none;
    padding-right: 10px;
}

.cabecalho li {
    float: left;
    margin: 0px 4px;
    padding-right: 5px;
    border-right: 1px solid gray;
}

.boasVindas {
    float: right;
    clear: both;
}

.erroDiv {
    min-height: 30px;
    border: 2px dotted #ff540a;
    width: auto;
    padding: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.sucDiv {
    min-height: 30px;
    border: 2px solid #00FF00;
    width: auto;
    padding: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.avisoDiv {
    min-height: 30px;
    border: 2px solid orange;
    width: auto;
    padding: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

table img {
    width: 25px;
}